{% extends '::base.html.twig' %}
{% block title %}Editar docente {% endblock %}
{% block body -%}
<h1>Editar Docente</h1>
<div class='formAutogenerado'>
		<div id='EditarDocente'>
    		{{ form(edit_form) }}
		</div>
</div>
{% endblock %}
