{% extends '::base.html.twig' %}
{% block title %}Editar docente {% endblock %}
{% block body -%}
<div class='formAutogenerado'>
		<div id='EditarDocente'>
		    <h1>Editar Docente</h1>

    		{{ form(edit_form) }}
		</div>
</div>
{% endblock %}
