{% extends '::base.html.twig' %}
{% block title %}Nuevo docente {% endblock %}
{% block body -%}

<h1>Nuevo docente</h1>
<div class="formAutogenerado">
	    <div id="NuevoDocente">
    				{{ form(form) }}
    	</div>
</div>
{% endblock %}
