{% extends '::base.html.twig' %}
{% block title %}Nuevo docente {% endblock %}
{% block body -%}
<div class="formAutogenerado">
	    <div id="NuevoDocente">
		    <h1>Nuevo docente</h1>

    				{{ form(form) }}
    	</div>
</div>
{% endblock %}
