{% extends '::base.html.twig' %}

{% block title %}Acerca De{% endblock %}
{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Designed by Alejandro Cabane -->
            <h3>Acerca de... </h3>
            <p> Aplicaci&oacute;n desarrollada por alumnos de la catedra "<em>Taller de tecnolog&iacute;as de Software 2014</em>" perteneciente a la Universidad Nacional de La Plata sede CRESTA:</p>

            <p><strong>Alumnos:</strong>
                <ul>
                    <li> Cabane, Alejandro Jes&uacute;s</li>
                    <li> Crespi, Federico</li>
                    <li> Garrido, Nelson Alejandro</li>
                    <li> Menna, Nicol&aacute;s Ignacio </li>
                    <li> Seguel, Juan Fernando </li>
                </ul>
            </p>
    </div>
{% endblock %}