{% extends '::base.html.twig' %}

{% block title %}Ayuda{% endblock %}

{% block body %}
	<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
		<!--Inicio indice-->
		<h2><a name="top">Ayuda</a></h2>
		<h3>Indice</h3>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
			<h4>Referencias para esta página</h4>
				<!--<h6>▲ Tarea exclusiva de Administrador/es</h6>-->
				<h6>▼ Listado con páginas dependientes.</h6>
				<h6>► Formulario para ingresar/modificar datos.</h6>
				<h6>○ Se abre desde el listado del que depende (▼).</h6>
				<!--<h6>● Depende de otra página.</h6>
				<!--<h6>○ Depende páginas</h6>-->
			</div>
			<div id="indiceSeccion">
			<h4><a href="#Inicio">1. Inicio</a></h4>
			</div>
			<div id="indiceSeccion">
			<h4>2. Reservas</h4>
				<h6><a href="#NuevaReserva">Nueva reserva ►</a></h6>
				<h6><a href="#ListadoReservas">Listado de reservas ▼</a></h6>
				<h6><a href="#ModificarReserva">○ Modificar reserva ►</a></h6>
				<h6><a href="#EliminarReserva">○ Eliminar reserva ►</a> </h6>
			</div>
			<div id="indiceSeccion">
			<h4>Tareas</h4>
				<h5><strong>Cursos</strong><h5>
					<h6><a href="#NuevoCurso">Nuevo curso ►</a></h6>
					<h6><a href="#ListadoCursos">Listado de cursos ▼</a></h6>
					<h6><a href="#ModificarCurso">○ Modificar curso ►</a></h6>
					<h6><a href="#EliminarCurso">○ Eliminar curso ►</a></h6>
				<h5><strong>Actividad</strong></h5>
					<h6><a href="#NuevaActividad">Nueva actividad ►</a></h6>
					<h6><a href="#ListadoCursos">Listado de actividades ▼</a></h6>
					<h6><a href="#ModificarActividad">○ Modificar actividad ►</a></h6>
					<h6><a href="#EliminarActividad">○ Eliminar actividad ►</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Recursos</h4>
				<h6><a href="#NuevoRecurso">Nuevo recurso ►</a></h6>
				<h6><a href="#ListadoRecursos">Listado de recursos ▼</a></h6>
				<h6><a href="#ModificarRecurso">○ Modificar recurso ►</a></h6>
				<h6><a href="#EliminarRecurso">○ Eliminar recurso ►</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
			<h4>Aulas</h4>
				<h6><a href="#NuevaAula">Nueva aula ►</a></h6>
				<h6><a href="#ListadoAulas">Listado de aulas ▼</a></h6>
				<h6><a href="#ModificarAula">○ Modificar aula ►</a></h6>
				<h6><a href="#EliminarAula">○ Eliminar aula ►</a></h6>
				<h6><a href="#NuevaAula">Disponibilidad de aulas ▼</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Alertas</h4>
				<h6><a href="#NuevaAlerta">Nueva alerta ►</a></h6>
				<h6><a href="#ListadoAlertas">Listado de alertas ▼</a></h6>
				<h6><a href="#ModificarAlerta">○ Modificar alerta ►</a></h6>
				<h6><a href="#EliminarAlerta">○ Eliminar alerta ►</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Carreras</h4>
				<h6><a href="#NuevaCarrera">Nueva carrera ►</a></h6>
				<h6><a href="#ListadoCarreras">Listado de carreras ▼</a></h6>
				<h6><a href="#ModificarCarrera">○ Modificar carrera ►</a></h6>
				<h6><a href="#EliminarCarrera">○ Eliminar carrera ►</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
			<h4>Docentes</h4>
				<h6><a href="#NuevoDocente">Nuevo docente ►</a></h6>
				<h6><a href="#ListadoDocentes">Listado de docentes ▼</a></h6>
				<h6><a href="#ModificarDocente">○ Modificar docente ►</a></h6>
				<h6><a href="#EliminarDocente">○ Eliminar docente ►</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Usuarios</h4>
				<h6><a href="#NuevoUsuario">Modificar mis datos de usuario ►</a></h6>
				<h6><a href="#NuevoUsuario">Nuevo usuario ►</a></h6>
				<h6><a href="#ListadoUsuarios">Listado de usuarios ▼</a></h6>
				<h6><a href="#ModificarUsuario">○ Modificar usuario ►</a></h6>
				<h6><a href="#EliminarUsuario">○ Eliminar usuario ►</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Más</h4>
				<h6><a href="#Descargas">Descargas</a></h6>
				<h6><a href="#Movimientos">Listado de movimientos</a></h6>
				<h6><a href="#Ayuda">Ayuda</a></h6>
				<h6><a href="#AcercaDe">Acerca de..</a></h6>
			</div>
		</div>
		<!--Fin indice-->
		</div>
		<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">	

			<h4>Reservas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaReserva">Nueva reserva</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarReserva">○ Modificar reserva</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarReserva">○ Eliminar reserva</a></h5>
					<h6></h6>
				</div>
			<h4>Tareas</h4>
				<h5>Curso</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoCurso">Nuevo curso</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarCurso">○ Modificar curso</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarCurso">○ Eliminar curso</a></h5>
					<h6></h6>
				</div>
				<h5>Actividad</h5>
				<div class="cuadroAyuda"><h5><a name="NuevaActividad">Nueva actividad</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarActividad">○ Modificar actividad</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarActividad">○ Eliminar actividad</a></h5>
					<h6></h6>
				</div>
			<h4>Recursos</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoRecurso">Nuevo recurso</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarRecurso">○ Modificar recurso</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarRecurso">○ Eliminar recurso</a></h5>
					<h6></h6>
				</div>
			<h4>Aulas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAula">Nueva aula</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarAula">○ Modificar aula</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarAula">○ Eliminar aula</a></h5>
					<h6></h6>
				</div>
			<h4>Alertas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAlerta">Nueva alerta</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarAlerta">○ Modificar alerta</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarAlerta">○ Eliminar alerta</a></h5>
					<h6></h6>
				</div>
			<h4>Carreras</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaCarrera">Nueva carrera</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarCarrera">○ Modificar carrera</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarCarrera">○ Eliminar carrera</a></h5>
					<h6></h6>
				</div>
			<h4>Docentes</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoDocente">Nuevo docente</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarDocente">○ Modificar docente</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarDocente">○ Eliminar docente</a></h5>
					<h6></h6>
				</div>
			<h4>Usuarios</h4>
				<h5>(Sólo disponible para los usuarios Administradores)</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoUsuario">Nuevo usuario</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarUsuario">○ Modificar usuario</a></h5>
					<h6></h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarUsuario">○ Eliminar usuario</a></h5>
					<h6></h6>
				</div>
			<h4>Más</h4>
				<div class="cuadroAyuda"><h5><a name="Descargas">Respaldar base de datos</a></h5>
					<h6>
						Sección donde se puede realizar y descargar una copia de respaldo de la estructura y datos contenidos de la base de datos actualizada a la fecha en la que se realiza la mencionada copia.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="Movimientos">Movimientos</a></h5>
					<h6>
						Listado donde se detallan el aula, la fecha establecida, la hora de comienzo, la hora de fin, el docente, el curso y carrera o actividad y las observaciones asociadas a una reserva cancelada junto con el usuario, hora y fecha de registro de la cancelación.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="AcercaDe">Acerca de</a></h5>
					<h6>
						Página donde se detallan los integrantes del grupo de desarrollo del sistema.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="Ayuda">Ayuda</a></h5>
					<h6>
						Se abre la presente página de ayuda.
					</h6>
				</div>
	</div>
	<a href="#top">Subir al cielo</a>
    
{% endblock %}
