{% extends '::base.html.twig' %}

{% block title %}Ayuda{% endblock %}

{% block body %}
	<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
		<!--Inicio indice-->
		<h2><a name="top">Ayuda</a></h2>
		<h3>Indice</h3>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
			<h4>Reservas</h4>
				<h6><a href="#ListadoReservas">Listado de reservas</a></h6>
				<h6><a href="#NuevaReserva">Nueva reserva</a></h6>
				<h6><a href="#ModificarReserva">Modificar reserva</a></h6>
				<h6><a href="#EliminarReserva">Eliminar reserva</a> </h6>
			</div>
			<div id="indiceSeccion">
			<h4>Tareas</h4>
				<h6><strong>Cursos</strong><h6>
					<h6><a href="#NuevoCurso">Nuevo curso</a></h6>
					<h6><a href="#ModificarCurso">Modificar curso</a></h6>
					<h6><a href="#EliminarCurso">Eliminar curso</a></h6>
				<h6><strong>Actividad</strong></h6>
					<h6><a href="#NuevaActividad">Nueva actividad</a></h6>
					<h6><a href="#ModificarActividad">Modificar actividad</a></h6>
					<h6><a href="#EliminarActividad">Eliminar actividad</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Recursos</h4>
				<h6><a href="#NuevoRecurso">Nuevo recurso</a></h6>
				<h6><a href="#ModificarRecurso">Modificar recurso</a></h6>
				<h6><a href="#EliminarRecurso">Eliminar recurso</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
			<h4>Aulas</h4>
				<h6><a href="#NuevaAula">Nueva aula</a></h6>
				<h6><a href="#ModificarAula">Modificar aula</a></h6>
				<h6><a href="#EliminarAula">Eliminar aula</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Alertas</h4>
				<h6><a href="#NuevaAlerta">Nueva alerta</a></h6>
				<h6><a href="#ModificarAlerta">Modificar alerta</a></h6>
				<h6><a href="#EliminarAlerta">Eliminar alerta</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Carreras</h4>
				<h6><a href="#NuevaCarrera">Nueva carrera</a></h6>
				<h6><a href="#ModificarCarrera">Modificar carrera</a></h6>
				<h6><a href="#EliminarCarrera">Eliminar carrera</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
			<h4>Docentes</h4>
				<h6><a href="#NuevoDocente">Nuevo docente</a></h6>
				<h6><a href="#ModificarDocente">Modificar docente</a></h6>
				<h6><a href="#EliminarDocente">Eliminar docente</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Usuarios</h4>
				<h6><a href="#NuevoUsuario">Nuevo usuario</a></h6>
				<h6><a href="#ModificarUsuario">Modificar usuario</a></h6>
				<h6><a href="#EliminarUsuario">Eliminar usuario</a></h6>
			</div>
			<div id="indiceSeccion">
			<h4>Más</h4>
				<h6><a href="#Descargas">Descargas</a></h6>
				<h6><a href="#Movimientos">Movimientos</a></h6>
				<h6><a href="#Ayuda">Ayuda</a></h6>
				<h6><a href="#AcercaDe">Acerca de..</a></h6>
			</div>
		</div>
		<!--Fin indice-->
		</div>
		<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">	

			<h4>Reservas</h4>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de reservas</a></h5>
					<h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </h6></div>
				<div class="cuadroAyuda"><h5><a name="NuevaReserva">Nueva reserva</a></h5>
					<h6>Y, viéndole don Quijote de aquella manera, con muestras de tanta tristeza, le dijo: Sábete, Sancho, que no es un hombre más que otro si no hace más que otro. Todas estas borrascas que nos suceden son señales de que presto ha de serenar el tiempo y han de sucedernos bien las cosas; porque no es posible que el mal ni el bien sean durables, y de aquí se sigue que, habiendo durado mucho el mal, el bien está ya cerca. Así que, no debes congojarte por las desgracias que a mí me suceden, pues a ti no te cabe parte dellas. </h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarReserva">Modificar reserva</a></h5>
					<h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarReserva">Eliminar reserva</a></h5>
					<h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</h6></div>
			<h4>Tareas</h4>
				<h5>Curso</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoCurso">Nuevo curso</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarCurso">Modificar curso</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarCurso">Eliminar curso</a></h5>
					<h6>Texto de prueba</h6></div>
				<h5>Actividad</h5>
				<div class="cuadroAyuda"><h5><a name="NuevaActividad">Nueva actividad</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarActividad">Modificar actividad</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarActividad">Eliminar actividad</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Recursos</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoRecurso">Nuevo recurso</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarRecurso">Modificar recurso</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarRecurso">Eliminar recurso</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Aulas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAula">Nueva aula</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarAula">Modificar aula</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarAula">Eliminar aula</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Alertas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAlerta">Nueva alerta</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarAlerta">Modificar alerta</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarAlerta">Eliminar alerta</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Carreras</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaCarrera">Nueva carrera</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarCarrera">Modificar carrera</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarCarrera">Eliminar carrera</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Docentes</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoDocente">Nuevo docente</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarDocente">Modificar docente</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarDocente">Eliminar docente</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Usuarios</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoUsuario">Nuevo usuario</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="ModificarUsuario">Modificar usuario</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="EliminarUsuario">Eliminar usuario</a></h5>
					<h6>Texto de prueba</h6></div>
			<h4>Más</h4>
				<div class="cuadroAyuda"><h5><a name="Descargas">Descargas</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="Movimientos">Movimientos</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="AcercaDe">Acerca de</a></h5>
					<h6>Texto de prueba</h6></div>
				<div class="cuadroAyuda"><h5><a name="Ayuda">Ayuda</a></h5>
					<h6>Texto de prueba</h6></div>
	</div>
	<a href="#top">Subir al cielo</a>
    
{% endblock %}
