{% extends '::base.html.twig' %}

{% block title %}Ayuda{% endblock %}

{% block body %}
	<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
		<h3>Página de ayuda del sistema Asignación de Aulas.</h3>
			<h4>Reservas</h4>
				<div id="cuadroAyuda"><h5>Nueva reserva</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar reserva</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar reserva</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Listado de reservas</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Tareas</h4>
				<div id="cuadroAyuda"><h5>Nuevo curso</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar curso</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar curso</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Nueva actividad</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar actividad</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar actividad</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Recursos</h4>
				<div id="cuadroAyuda"><h5>Nuevo recurso</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar recurso</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar recurso</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Aulas</h4>
				<div id="cuadroAyuda"><h5>Nueva aula</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar aula</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar aula</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Alertas</h4>
				<div id="cuadroAyuda"><h5>Nueva alerta</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar alerta</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar alerta</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Carreras</h4>
				<div id="cuadroAyuda"><h5>Nueva carrera</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>M	odificar carrera</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar carrera</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Docentes</h4>
				<div id="cuadroAyuda"><h5>Nuevo docente</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar docente</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar docente</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Usuarios</h4>
				<div id="cuadroAyuda"><h5>Nuevo usuario</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Modificar usuario</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Eliminar usuario</h5>
					<h6>Texto de prueba</h6></div>
			<h4>Más</h4>
				<div id="cuadroAyuda"><h5>Descargas</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Movimientos</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Acerca de</h5>
					<h6>Texto de prueba</h6></div>
				<div id="cuadroAyuda"><h5>Ayuda</h5>
					<h6>Texto de prueba</h6></div>
	</div>
    
{% endblock %}
