{% extends '::base.html.twig' %}

{% block title %}Ayuda{% endblock %}

{% block body %}
<script type='text/javascript'>
	//<![CDATA[
	// Botón para Ir Arriba
	jQuery.noConflict();
	jQuery(document).ready(function() {
	jQuery(".subirtop").hide();
	jQuery(function () {
	jQuery(window).scroll(function () {
	if (jQuery(this).scrollTop() > 200) {
	jQuery('.subirtop').fadeIn();
	} else {
	jQuery('.subirtop').fadeOut();
	}
	});
	jQuery('.subirtop a').click(function () {
	jQuery('body,html').animate({
	scrollTop: 0
	}, 800);
	return false;
	});
	});

	});
//]]>
</script>
	<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
		<!--Inicio indice-->
		<h2><a name="top">Ayuda</a></h2>
		<h3>Indice</h3>
		<div class=bg-danger>
			</br>
			<h5>
			Para el correcto funcionamiento del presente sistema se aconseja mantener el navegador 	web actualizado y javascript activado en el mismo.
			</h5>
			</br>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
				<h4><a href="#Inicio">1. Inicio</a></h4>
			</div>
			<div id="indiceSeccion">
				<h4>2. Reservas</h4>
					<h6><a href="#NuevaReserva">Nueva reserva</a></h6>
					<h6><a href="#ListadoReservas">Listado de reservas</a></h6>
					<h6><a href="#ModificarReserva">Modificar reserva</a></h6>
					<h6><a href="#EliminarReserva">Eliminar reserva</a> </h6>
			</div>
			<div id="indiceSeccion">
				<h4>Tareas</h4>
					<h5><strong>Cursos</strong><h5>
						<h6><a href="#NuevoCurso">Nuevo curso</a></h6>
						<h6><a href="#ListadoCursos">Listado de cursos</a></h6>
						<h6><a href="#ModificarCurso">Modificar curso</a></h6>
						<h6><a href="#EliminarCurso">Eliminar curso</a></h6>
					<h5><strong>Actividad</strong></h5>
						<h6><a href="#NuevaActividad">Nueva actividad</a></h6>
						<h6><a href="#ListadoCursos">Listado de actividades</a></h6>
						<h6><a href="#ModificarActividad">Modificar actividad</a></h6>
						<h6><a href="#EliminarActividad">Eliminar actividad</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Recursos</h4>
				<h6><a href="#NuevoRecurso">Nuevo recurso</a></h6>
				<h6><a href="#ListadoRecursos">Listado de recursos</a></h6>
				<h6><a href="#ModificarRecurso">Modificar recurso</a></h6>
				<h6><a href="#EliminarRecurso">Eliminar recurso</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
				<h4>Aulas</h4>
				<h6><a href="#NuevaAula">Nueva aula</a></h6>
				<h6><a href="#ListadoAulas">Listado de aulas</a></h6>
				<h6><a href="#ModificarAula">Modificar aula</a></h6>
				<h6><a href="#EliminarAula">Eliminar aula</a></h6>
				<h6><a href="#NuevaAula">Disponibilidad de aulas</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Alertas</h4>
				<h6><a href="#NuevaAlerta">Nueva alerta</a></h6>
				<h6><a href="#ListadoAlertas">Listado de alertas</a></h6>
				<h6><a href="#ModificarAlerta">Modificar alerta</a></h6>
				<h6><a href="#EliminarAlerta">Eliminar alerta</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Carreras</h4>
				<h6><a href="#NuevaCarrera">Nueva carrera</a></h6>
				<h6><a href="#ListadoCarreras">Listado de carreras</a></h6>
				<h6><a href="#ModificarCarrera">Modificar carrera</a></h6>
				<h6><a href="#EliminarCarrera">Eliminar carrera</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
				<h4>Docentes</h4>
				<h6><a href="#NuevoDocente">Nuevo docente</a></h6>
				<h6><a href="#ListadoDocentes">Listado de docentes</a></h6>
				<h6><a href="#ModificarDocente">Modificar docente</a></h6>
				<h6><a href="#EliminarDocente">Eliminar docente</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Usuarios</h4>
				<h6><a href="#NuevoUsuario">Modificar mis datos de usuario</a></h6>
				<h6><a href="#NuevoUsuario">Nuevo usuario</a></h6>
				<h6><a href="#ListadoUsuarios">Listado de usuarios</a></h6>
				<h6><a href="#ModificarUsuario">Modificar usuario</a></h6>
				<h6><a href="#EliminarUsuario">Eliminar usuario</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Más</h4>
				<h6><a href="#Descargas">Descargas</a></h6>
				<h6><a href="#Movimientos">Listado de movimientos</a></h6>
				<h6><a href="#Ayuda">Ayuda</a></h6>
				<h6><a href="#AcercaDe">Acerca de..</a></h6>
			</div>
		</div>
	</div>
	<!--Fin indice-->
		<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
		</p></p>
		<div class=bg-success>
		</br>
			<h5>
				Los datos acompañados de (*) son OBLIGATORIOS
			</h5>
		</br>
		</div>
			<h4>1. Inicio</h4>
				<div class="cuadroAyuda">
					<h6>Esta es la primera página al entrar al sistema mediante el Login. Aquí se visualiza el Listado de Reservas (2.2.) que hay estipuladas para el día de la fecha.</h6>
				</div>
			<h4>2. Reservas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaReserva">2.1.Nueva reserva</a></h5>
					<h6>Se deben cargar las aulas, los recursos, las carreras y sus cursos o las actividades, los docentes y las alertas antes de cargar una reserva.<br/>
					En esta pantalla se visualiza un formulario donde se puede ingresar la fecha (*), la hora de comienzo (*), la hora de finalización (*), el docente (*), el curso o actividad (*), el aula (*), los recursos y las observaciones para registrar una nueva reserva.
					Los datos acompañados por (*) son obligatorios.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">2.2. Listado de reservas</a></h5>
					<h6>Se despliega un listado de las reservas donde se pueden ver todas las reservas registradas o se pueden filtrar las mismas por un rango de fechas, docente, aula o tarea. En este listado se muestran el aula (con la cantidad de alumnos que puede alojar), la fecha, la hora desde y hasta que se hará efectiva, el docente que la solicito, el curso y su carrera o actividad, las observaciones, el usuario que la registró con la hora y fecha del mismo registro y tres botones para Modificar,  Borrar y Ver los detalles de la reserva seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarReserva">2.2.1. Modificar reserva</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la reserva elegida. El mencionado formulario es similar a Nueva Reserva (2.1.).</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarReserva">2.2.2. Eliminar reserva</a></h5>
					<h6>Si se presiona el icono para eliminar una reserva, se solicitará confirmación para realizar la acción. Las reservas eliminadas, se guardaran y podrán ser vistas en la opción "Movimientos" (10.2.).</h6>
				</div>
			<h4>3. Tareas</h4>
				<h5>3.1. Curso</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoCurso">3.1.1. Nuevo curso</a></h5>
					<h6>Antes de registrar un nuevo curso, se debe registrar la carrera a la que pertenece (7.1.). En esta pantalla se visualiza un formulario donde se puede ingresar el nombre del curso (*), carrera (*) y año al que pertenece.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoCursos">3.1.2 Listado de cursos</a></h5>
					<h6>Se despliega un listado de todos los nombres de los cursos registrados en el sistema con las carreras a las que pertenecen y tres botones para Ver sus detalles, Modificar y Borrar el curso elegido.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarCurso">3.1.2.1 Modificar curso</a></h5>
					<h6>Se visualiza un formulario donde se pueden modificar los datos registrados para un curso.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarCurso">3.1.2.2 Eliminar curso</a></h5>
					<h6>Si se presiona el icono para eliminar un curso, se solicitará confirmación para realizar la acción.</h6>
				</div>
				<h5>3.2. Actividad</h5>
				<div class="cuadroAyuda"><h5><a name="NuevaActividad">3.2.1 Nueva actividad</a></h5>
					<h6>Se visualiza un formulario donde se debe ingresar el nombre (*) y tipo de actividad (*).</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoActividades">3.2.2 Listado de actividades</a></h5>
					<h6>Se despliega un listado de todas las actividades registradas en el sistema con el nombre y tipo de actividad correspondiente y tres botones para Ver los detalles, Modificar y Borrar la actividad elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarActividad">3.2.2.1 Modificar actividad</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la actividad seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarActividad">3.2.2.2 Eliminar actividad</a></h5>
					<h6>Si se presiona el icono para eliminar una actividad, se solicitará confirmación para realizar la acción.</h6>
				</div>
			<h4>4. Recursos</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoRecurso">4.1. Nuevo recurso</a></h5>
					<h6>Se visualiza un formulario donde se puede el nombre (*) de un nuevo recurso.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoRecursos">4.2 Listado de recursos</a></h5>
					<h6>Se despliega un listado de recursos. En este listado se muestran el nombre del recurso y tres botones para Modificar,  Borrar y Ver los detalles del recurso seleccionado.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarRecurso">4.2.1. Modificar recurso</a></h5>
					<h6>Se visualiza un formulario cargado con los datos del recurso seleccionado, donde se podrán ver y modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarRecurso">4.2.2. Eliminar recurso</a></h5>
					<h6>Si se presiona el icono para eliminar un recurso, se solicitará confirmación para realizar la acción.</h6>
				</div>
			<h4>5. Aulas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAula">5.1. Disponibilidad de aulas</a></h5>
					<h6>Se muestra una grilla donde se puede seleccionar el nombre de un aula, el mes o día y el sistema despliega un listado de horarios que van desde las 08:00 hasta las 21:30 dividido en lapsos de media hora (30') con una leyenda (Ocupado) sobre la disponibilidad para el/las aula/s seleccionada/s en el lapso especificado.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="NuevaAula">5.2. Nueva aula</a></h5>
					<h6>Se visualiza un formulario donde se debe ingresar el nombre (*), la capacidad máxima de personas (*) y el piso donde se encuentra la misma (*).</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoAulas">5.3. Listado de aulas</a></h5>
					<h6>Se despliega un listado de todos los nombres de las aulas registradas en el sistema, su capacidad máxima, el piso donde se encuentra y tres botones para Ver los detalles, Modificar y Borrar el aula elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarAula">5.3.1. Modificar aula</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para el aula seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarAula">5.3.2.Eliminar aula</a></h5>
					<h6>Si se presiona el icono para eliminar un aula, se solicitará confirmación para realizar la acción.</h6>
				</div>
			<h4>6. Alertas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAlerta">6.1. Nueva alerta</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar todos los datos para registrar una nueva alerta. Se tendrá que elegir una fecha (*), una descripción de la misma (*) y observaciones.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoAlertas">6.2. Listado de alertas</a></h5>
					<h6>Se despliega un listado de alertas donde se muestra la fecha de la alerta, la descripción, las observaciones que se hagan de la misma,  y tres botones para Modificar,  Borrar y Ver los detalles de la alerta seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarAlerta">6.2.1. Modificar alerta</a></h5>
					<h6>Se visualiza un formulario cargado con los datos de la alerta seleccionada, donde se podrán ver y modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarAlerta">6.2.2. Eliminar alerta</a></h5>
					<h6>Si se presiona el icono para eliminar una alerta, se solicitará confirmación para realizar la acción.</h6>
				</div>
			<h4>7. Carreras</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaCarrera">7.1. Nueva carrera</a></h5>
					<h6>Se visualiza un formulario donde se debe ingresar el nombre (*) y observaciones para una carrera.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoCarreras">7.2. Listado de carreras</a></h5>
					<h6>Se despliega un listado de todos los nombres de las carreras registradas en el sistema, las observaciones correspondiente a esa carrera y tres botones para Ver los detalles, Modificar y Borrar la carrera elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarCarrera">7.2.1. Modificar carrera</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la carrera seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarCarrera">7.2.2. Eliminar carrera</a></h5>
					<h6>Si se presiona el icono para eliminar una carrera, se solicitará confirmación para realizar la acción.</h6>
				</div>
			<h4>8. Docentes</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoDocente">8.1. Nuevo docente</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar el nombre (*) y el apellido (*) para registrar un nuevo docente.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoDocentes">8.2. Listado de docentes</a></h5>
					<h6>Se despliega un listado de docentes donde se muestra el nombre y apellido de cada uno y tres botones para Modificar,  Borrar y Ver los detalles del docente seleccionado.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarDocente">8.2.1 Modificar docente</a></h5>
					<h6>Se visualiza un formulario cargado con los datos del docente seleccionado, donde se podrán modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarDocente">8.2.2. Eliminar docente</a></h5>
					<h6>Si se presiona el icono para eliminar un docente, se solicitará confirmación para realizar la acción.</h6>
				</div>
		<!--hecho hasta acá-->
			<h4>9. Usuarios</h4>
				<div class="cuadroAyuda"><h5><a name="ModificarDatosUsuario">Modificar mis datos de usuario</a></h5>
					<h6>Se visualiza un formulario donde se pueden modificar el nombre (*) y el email (*) del usuario que está usando el sistema. Opcionalmente también puede modificar la contraseña introduciendo la contraseña actual, la nueva contraseña y la confirmación de la nueva contraseña.</h6>
					</div>
				<h5>(Sólo disponible para los usuarios Administradores)</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoUsuario">Nuevo usuario</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar nombre (*), email (*), clave (*), confirmación de clave (*), nombre y apellido.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoUsuarios">Listado de usuarios</a></h5>
					<h6>Se despliega un listado de usuarios donde se muestra el nombre de usuario, su email y tres botones para Modificar, Borrar y Ver los detalles del mismo.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarUsuario">Modificar usuario</a></h5>
					<h6>Se visualiza un formulario cargado con los datos del usuario seleccionado, donde se podrán modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarUsuario">Eliminar usuario</a></h5>
					<h6>Si se presiona el icono para eliminar un usuario, se solicitará confirmación para realizar la acción.</h6>
				</div>
			<h4>10. Más</h4>
				<div class="cuadroAyuda"><h5><a name="Descargas">10.1. Respaldar base de datos</a></h5>
					<h6>Sección donde se puede realizar y descargar una copia de respaldo de la estructura y datos contenidos de la base de datos actualizada a la fecha en la que se realiza la mencionada copia. Dicha copia, se guarda en la carpeta web del sistema y en su nombre contiene la fecha y hora de la realización de la copia.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="Movimientos">10.2. Movimientos</a></h5>
					<h6>Listado donde se pueden ver las reservas borradas y donde se detalla la fecha de borrado de la reserva, el usuario, el aula, el docente, la tarea, la hora de comienzo, la hora de fin y la fecha registrada para la reserva.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="AcercaDe">10.3.Acerca de</a></h5>
					<h6>Página donde se detallan los integrantes del grupo de desarrollo del sistema.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="Ayuda">10.4.Ayuda</a></h5>
					<h6>Se abre la presente página de ayuda.</h6>
				</div>
	</div>
	</div>
	<a class="subirtop" href="#top">Subir al cielo</a> 
{% endblock %}
