{% extends '::base.html.twig' %}

{% block title %}Ayuda{% endblock %}

{% block body %}
<script type='text/javascript'>
	//<![CDATA[
	// Botón para Ir Arriba
	jQuery.noConflict();
	jQuery(document).ready(function() {
	jQuery(".subirtop").hide();
	jQuery(function () {
	jQuery(window).scroll(function () {
	if (jQuery(this).scrollTop() > 200) {
	jQuery('.subirtop').fadeIn();
	} else {
	jQuery('.subirtop').fadeOut();
	}
	});
	jQuery('.subirtop a').click(function () {
	jQuery('body,html').animate({
	scrollTop: 0
	}, 800);
	return false;
	});
	});

	});
//]]>
</script>
	<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
		<!--Inicio indice-->
		<h2><a name="top">Ayuda</a></h2>
		<h3>Indice</h3>
		<div class=bg-danger>
			<h5>Para el correcto funcionamiento del presente sistema se aconseja mantener el navegador
			web actualizado y javascript activado en el mismo.</h5>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
				<h4><a href="#Inicio">1. Inicio</a></h4>
			</div>
			<div id="indiceSeccion">
				<h4>2. Reservas</h4>
					<h6><a href="#NuevaReserva">Nueva reserva</a></h6>
					<h6><a href="#ListadoReservas">Listado de reservas</a></h6>
					<h6><a href="#ModificarReserva">Modificar reserva</a></h6>
					<h6><a href="#EliminarReserva">Eliminar reserva</a> </h6>
			</div>
			<div id="indiceSeccion">
				<h4>Tareas</h4>
					<h5><strong>Cursos</strong><h5>
						<h6><a href="#NuevoCurso">Nuevo curso</a></h6>
						<h6><a href="#ListadoCursos">Listado de cursos</a></h6>
						<h6><a href="#ModificarCurso">Modificar curso</a></h6>
						<h6><a href="#EliminarCurso">Eliminar curso</a></h6>
					<h5><strong>Actividad</strong></h5>
						<h6><a href="#NuevaActividad">Nueva actividad</a></h6>
						<h6><a href="#ListadoCursos">Listado de actividades</a></h6>
						<h6><a href="#ModificarActividad">Modificar actividad</a></h6>
						<h6><a href="#EliminarActividad">Eliminar actividad</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Recursos</h4>
				<h6><a href="#NuevoRecurso">Nuevo recurso</a></h6>
				<h6><a href="#ListadoRecursos">Listado de recursos</a></h6>
				<h6><a href="#ModificarRecurso">Modificar recurso</a></h6>
				<h6><a href="#EliminarRecurso">Eliminar recurso</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
				<h4>Aulas</h4>
				<h6><a href="#NuevaAula">Nueva aula</a></h6>
				<h6><a href="#ListadoAulas">Listado de aulas</a></h6>
				<h6><a href="#ModificarAula">Modificar aula</a></h6>
				<h6><a href="#EliminarAula">Eliminar aula</a></h6>
				<h6><a href="#NuevaAula">Disponibilidad de aulas</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Alertas</h4>
				<h6><a href="#NuevaAlerta">Nueva alerta</a></h6>
				<h6><a href="#ListadoAlertas">Listado de alertas</a></h6>
				<h6><a href="#ModificarAlerta">Modificar alerta</a></h6>
				<h6><a href="#EliminarAlerta">Eliminar alerta</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Carreras</h4>
				<h6><a href="#NuevaCarrera">Nueva carrera</a></h6>
				<h6><a href="#ListadoCarreras">Listado de carreras</a></h6>
				<h6><a href="#ModificarCarrera">Modificar carrera</a></h6>
				<h6><a href="#EliminarCarrera">Eliminar carrera</a></h6>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div id="indiceSeccion">
				<h4>Docentes</h4>
				<h6><a href="#NuevoDocente">Nuevo docente</a></h6>
				<h6><a href="#ListadoDocentes">Listado de docentes</a></h6>
				<h6><a href="#ModificarDocente">Modificar docente</a></h6>
				<h6><a href="#EliminarDocente">Eliminar docente</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Usuarios</h4>
				<h6><a href="#NuevoUsuario">Modificar mis datos de usuario</a></h6>
				<h6><a href="#NuevoUsuario">Nuevo usuario</a></h6>
				<h6><a href="#ListadoUsuarios">Listado de usuarios</a></h6>
				<h6><a href="#ModificarUsuario">Modificar usuario</a></h6>
				<h6><a href="#EliminarUsuario">Eliminar usuario</a></h6>
			</div>
			<div id="indiceSeccion">
				<h4>Más</h4>
				<h6><a href="#Descargas">Descargas</a></h6>
				<h6><a href="#Movimientos">Listado de movimientos</a></h6>
				<h6><a href="#Ayuda">Ayuda</a></h6>
				<h6><a href="#AcercaDe">Acerca de..</a></h6>
			</div>
		</div>
	</div>
	<!--Fin indice-->
		<div id="ayuda" class="col-md-12 col-sm-12 col-xs-12">
			<h4>1. Inicio</h4>
				<div class="cuadroAyuda">
					<h6>Esta es la primera página al entrar al sistema mediante el Login. Aquí se visualiza el Listado de Reservas (2.2.) que hay estipuladas para el día de la fecha.</h6>
				</div>
			<h4>2. Reservas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaReserva">2.1.Nueva reserva</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar la fecha, la hora de comienzo, la hora de 	finalización, el docente, el curso o actividad, el aula, los recursos y las observaciones para 	registrar una nueva 	reserva.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">2.2. Listado de reservas</a></h5>
					<h6>Se despliega un listado de las reservas donde se puede filtrar las mismas por un rango de fechas. 	En este listado se muestran el aula (con la cantidad de alumnos que puede alojar), la fecha, la 	hora desde y hasta que se hará efectiva, el docente que la solicito, el curso y su carrera o 	actividad, las observaciones, el usuario que la registró con la hora y fecha del mismo 	registro y tres botones para Modificar,  Borrar y Ver los detalles de la reserva seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarReserva">2.2.1. Modificar reserva</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la reserva elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarReserva">2.2.2. Eliminar reserva</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la reserva elegida.</h6>
				</div>
			<h4>3. Tareas</h4>
				<h5>3.1. Curso</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoCurso">3.1.1. Nuevo curso</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la reserva elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">3.1.2 Listado de reservas</a></h5>
					<h6>Se despliega un listado de todos los nombres de los cursos registrados en el sistema con las carreras a las que pertenecen y dos botones para Modificar y Borrar el curso elegido.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarCurso">3.1.2.1 Modificar curso</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para un curso.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarCurso">3.1.2.2 Eliminar curso</a></h5>
					<h6>Se ve un formulario con los datos registrados (solo para visualizarlos) con la opción de borrar el curso elegido.</h6>
				</div>
				<h5>3.2. Actividad</h5>
				<div class="cuadroAyuda"><h5><a name="NuevaActividad">3.2.1 Nueva actividad</a></h5>
					<h6>Se visualiza un formulario donde se debe ingresar el nombre y tipo de actividad.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">3.2.2 Listado de reservas</a></h5>
					<h6>Se despliega un listado de todos los nombres de las actividades registradas en el sistema con el tipo de actividad correspondiente y dos botones para Modificar y Borrar la actividad elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarActividad">3.2.2.1 Modificar actividad</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la actividad seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarActividad">3.2.2.2 Eliminar actividad</a></h5>
					<h6>Se ve un formulario con los datos registrados (solo para visualizarlos) con la opción de borrar la actividad elegida.</h6>
				</div>
			<h4>4. Recursos</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoRecurso">4.1. Nuevo recurso</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar todos los datos necesarios para registrar un nuevo recurso. Un nombre e indicar si esta activo o no.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">4.2 Listado de reservas</a></h5>
					<h6>Se despliega un listado de recursos. En este listado se muestran el nombre, un estado (diciendo si esta activo o no), y tres botones para Modificar,  Borrar y Ver los detalles del seleccionado. Por encima de este, se encuentra un botón a través del cual se podrá agregar un nuevo recurso.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarRecurso">4.2.1. Modificar recurso</a></h5>
					<h6>Se visualiza un formulario cargado con los datos del recurso seleccionado, donde se podrán ver y modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarRecurso">4.2.2. Eliminar recurso</a></h5>
					<h6>Se visualiza un formulario deshabilitado, en el cual no se pueden modificar los campos del mismo, cargado con los datos del recurso seleccionado, y una opción para borrar el recurso elegido.</h6>
				</div>
			<h4>5. Aulas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAula">5.1. Disponibilidad de aulas</a></h5>
					<h6>Se muestra un formulario donde se puede seleccionar el nombre de un aula, la fecha deseada y el sistema despliega un listado de horarios que van desde las 08:00 hasta las 21:30 dividido en lapsos de media hora (30') con una leyenda (Libre u Ocupado) sobre la disponibilidad para ese lapso.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="NuevaAula">5.2. Nueva aula</a></h5>
					<h6>Se visualiza un formulario donde se debe ingresar el nombre, la capacidad máxima de personas y el piso donde se encuentra un aula.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">5.3. Listado de reservas</a></h5>
					<h6>Se despliega un listado de todos los nombres de las aulas registradas en el sistema, su capacidad máxima, el piso donde se encuentra y dos botones para Modificar y Borrar el aula elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarAula">5.3.1. Modificar aula</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para el aula seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarAula">5.3.2.Eliminar aula</a></h5>
					<h6>Se ve un formulario con los datos registrados (solo para visualizarlos) con la opción de borrar el aula elegida.</h6>
				</div>
			<h4>6. Alertas</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaAlerta">6.1. Nueva alerta</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar todos los datos para registrar una nueva alerta. Se tendrá que elegir una fecha, el día, mes y año, una descripción de la misma y las observaciones que se quieran hacer sobre estas.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">6.2. Listado de reservas</a></h5>
					<h6>Se despliega un listado de alertas. En este listado se muestran la fecha de la alerta, la descripción, las observaciones que se hagan de la misma,  y tres botones para Modificar,  Borrar y Ver los detalles de la alerta seleccionada.
					Por encima de este, se encuentra un botón a través del cual se podrá agregar una nueva alerta.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarAlerta">6.2.1. Modificar alerta</a></h5>
					<h6>Se visualiza un formulario cargado con los datos de la alerta seleccionada, donde se podrán ver y modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarAlerta">6.2.2. Eliminar alerta</a></h5>
					<h6>Se visualiza un formulario deshabilitado, en el cual no se pueden modificar los campos de la alerta seleccionada, cargado con los datos de está, y una opción para borrarla.</h6>
				</div>
			<h4>7. Carreras</h4>
				<div class="cuadroAyuda"><h5><a name="NuevaCarrera">7.1. Nueva carrera</a></h5>
					<h6>Se visualiza un formulario donde se debe ingresar el nombre y una observación para una carrera.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">7.2. Listado de reservas</a></h5>
					<h6>Se despliega un listado de todos los nombres de las carreras registradas en el sistema, las observaciones correspondiente a esa carrera y dos botones para Modificar y Borrar la carrera elegida.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarCarrera">7.2.1. Modificar carrera</a></h5>
					<h6>Se visualiza un formulario donde se pueden ver y modificar los datos registrados para la carrera seleccionada.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarCarrera">7.2.2. Eliminar carrera</a></h5>
					<h6>Se ve un formulario con los datos registrados (solo para visualizarlos) con la opción de borrar la carrera elegida.</h6>
				</div>
			<h4>8. Docentes</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoDocente">8.1. Nuevo docente</a></h5>
					<h6>Se visualiza un formulario donde se puede ingresar todos los datos para registrar un nuevo docente. Se tendrá que cargar el nombre y apellido del mismo.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">8.2. Listado de reservas</a></h5>
					<h6>Se despliega un listado de docentes. En este listado se muestra el nombre y apellido del mismo, y tres botones para Modificar,  Borrar y Ver los detalles del docente seleccionado.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarDocente">8.2.1 Modificar docente</a></h5>
					<h6>Se visualiza un formulario cargado con los datos del docente seleccionado, donde se podrán modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarDocente">8.2.2. Eliminar docente</a></h5>
					<h6>Se visualiza un formulario deshabilitado, en el cual no se pueden modificar los campos del docente seleccionado, cargado con los datos de esté, y una opción para borrarlo.</h6>
				</div>
			<h4>9. Usuarios</h4>
				<div class="cuadroAyuda"><h5><a name="NuevoUsuario">Modificar mis datos de usuario</a></h5>
					<h6>Se visualizan dos formularios, uno con dos campos donde se encuentran cargado el nombre de usuario y el ema,il del usuario activo, donde se podrán modificar los datos del mismo. Y otro donde se podrá cambiar la contraseña, para ello se muestran tres campos a completar; la contraseña actual y en los otros dos la nueva contraseña los cuales deben coincidir.</h6>
					</div>
				<h5>(Sólo disponible para los usuarios Administradores)</h5>
				<div class="cuadroAyuda"><h5><a name="NuevoUsuario">Nuevo usuario</a></h5>
					<h6>Se visualiza un formulario donde se pueden ingresar todos los datos necesarios para registrar un nuevo usuario. Se deberá ingresar un nombre de usuario, un correo electrónico, una contraseña para el mismo y marcar si esta activo o no, por defecto si.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ListadoReservas">Listado de usuarios</a></h5>
					<h6>Se despliega un listado de usuarios. En este listado se muestran el nombre de usuario, su email, si esta activo o no,  y tres botones para Modificar,  Borrar y Ver los detalles del mismo.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="ModificarUsuario">Modificar usuario</a></h5>
					<h6>Se visualiza un formulario cargado con los datos del usuario seleccionado, donde se podrán modificar sus datos.</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="EliminarUsuario">Eliminar usuario</a></h5>
					<h6>Se visualiza un formulario deshabilitado, en el cual no se pueden modificar los campos del          	usuario seleccionado, cargado con los datos de esté, y una opción para borrarlo.</h6>
				</div>
			<h4>10. Más</h4>
				<div class="cuadroAyuda"><h5><a name="Descargas">10.1. Respaldar base de datos</a></h5>
					<h6>
						Sección donde se puede realizar y descargar una copia de respaldo de la estructura y datos contenidos de la base de datos actualizada a la fecha en la que se realiza la mencionada copia.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="Movimientos">10.2. Movimientos</a></h5>
					<h6>
						Listado donde se detallan el aula, la fecha establecida, la hora de comienzo, la hora de fin, el docente, el curso y carrera o actividad y las observaciones asociadas a una reserva cancelada junto con el usuario, hora y fecha de registro de la cancelación.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="AcercaDe">10.3.Acerca de</a></h5>
					<h6>
						Página donde se detallan los integrantes del grupo de desarrollo del sistema.
					</h6>
				</div>
				<div class="cuadroAyuda"><h5><a name="Ayuda">10.4.Ayuda</a></h5>
					<h6>
						Se abre la presente página de ayuda.
					</h6>
				</div>
	</div>
	</div>
	<a class="subirtop" href="#top">Subir al cielo</a> 
{% endblock %}
