{% extends '::base.html.twig' %}

{% block title %}Dump exitoso!{% endblock %}
{% block body %}
            <!-- Designed by Alejandro Cabane -->
	<div id="mensaje" class="alert alert-danger"> <h3>ERROR!</h3> </br> La base de datos no pudo ser creada, contacte al administrador. 
        <center>
        	<a class='btn btn-default botonTabla' href="{{ path('reserva') }}">Aceptar</a>
        </center>
    </div>
{% endblock %}