<<<<<<< HEAD
<h1>Página de ayuda</h1>
=======
{% extends '::base.html.twig' %}

{% block title %}Inicio {% endblock %}
{% block body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Designed by Alejandro Cabane -->
            <h3 style="color:orange">Sistema de gestión de reservas de aulas</h3><!--El estilo es temporal, porque la web es temporal-->
            <h5> Página temporal, hasta que funcione el <strong>listado de reservas</strong></h5>
            <p></p>
            <p></p>
    </div>
{% endblock %}
>>>>>>> f3f1a743820e8737b0964dd373eac72abde2c17f
