<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
<h3>Modificar datos</h3>
<div id='modificarMisDatos'>
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default botonTabla" type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    </br>
</div>
</form>
