{% extends '::base.html.twig' %}
{% block title %}Modificar mis datos{% endblock %}
{% block fos_user_content %}
<div class="formAutogenerado">
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
</div>
{% endblock fos_user_content %}
