/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
!/vendor/friendsofsymfony/user-bundle/FOS/UserBundle/Resources/translations
!/vendor/friendsofsymfony/user-bundle/FOS/UserBundle/Resources/views