{% extends '::base.html.twig' %}
{% block title %} Nueva Actividad {% endblock %}
{% block body -%}
    <h1>Nueva Actividad</h1>

    <div class="formAutogenerado">
	    <div id="NuevoActividad">
	    	{{ form(form) }}	
	    </div>  
			
    </div>

{% endblock %}
