{% extends '::base.html.twig' %}

{% block title %}Modificar mis datos{% endblock %}
{% block fos_user_content %}
<div id="cambiarMisdatos">
	<h3>Modificar mis datos </h3>
		<p class="bg-danger"> Falta form para cambiar Username e Email</p>
	<h4>Cambiar contraseña</h4>
		{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

</div>	
{% endblock fos_user_content %}
