{% extends '::base.html.twig' %}
{% block title %}Modificar clave{% endblock %}
{% block fos_user_content %}
<div class="formAutogenerado">
<div id="cambiarClave">
	<h3>Cambiar contraseña </h3>
		{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>	
</div>
</br>
{% endblock fos_user_content %}
