{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Recurso</h1>
    <div class="formAutogenerado">
    	<div id="EditarRecurso">
    		{{ form(edit_form) }}
    		</p>
    	</div>
    </div>

</ul>
{% endblock %}
