{% extends '::base.html.twig' %}
{% block title %} Nuevo Recurso Móvil{% endblock %}
{% block body -%}
    <h1>Nuevo recurso móvil</h1>
    <div class="formAutogenerado">
	 	<div id="NuevoRecurso">
	    	{{ form(form) }}
	    </div>
	</div>
{% endblock %}
