{% extends '::base.html.twig' %}
{% block title %} Ver Recurso Móvil{% endblock %}
{% block body -%}
    <h1>Recurso</h1>

    <table class="record_properties tabla">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.observaciones }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">


        <a class="btn btn-default botonTabla" href="{{ path('aulas_recurso_edit', { 'id': entity.id }) }}">
            Editar
        </a>

        <a class="btn btn-default botonTabla" href="{{ path('aulas_recurso') }}">
            Volver a la lista
        </a>
</ul>
{% endblock %}
