{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aulas disponibles</h1>
    <form> 
   <select onchange="location.href=this.options[this.selectedIndex].value">
        <option value="#"> Mes</option>
        <option value="?mes=Enero">Enero</option>
        <option value="?mes=Febrero">Febrero</option>
        <option value="?mes=Marzo">Marzo</option>
        <option value="?mes=Abril">Abril</option>
        <option value="?mes=Mayo">Mayo</option>
        <option value="?mes=Junio">Junio</option>
        <option value="?mes=Julio">Julio</option>
        <option value="?mes=Agosto">Agosto</option>
        <option value="?mes=Septiembre">Septiembre</option>
        <option value="?mes=Octubre">Octubre</option>
        <option value="?mes=Noviembre">Noviembre</option>
        <option value="?mes=Diciembre">Diciembre</option>
    </select>

    <select>
        {% for dia in mesSelect %}
            <option value="{{dia}}">{{dia}}</option>
        {% endfor %}
    </select>
    

    
    
    </form>
    <table class="records_list tabla">
        <thead>
            <tr>
                <th>Aula/Horario</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
        </tbody>
    </table>
{% endblock %}
