{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Usuario</h1>
    <div class="formAutogenerado">
    	<div id="EditarUsuario">
    		{{ form(edit_form) }}
    	</div>
    </div>

{% endblock %}
