{% extends '::base.html.twig' %}
{% block title %}Editar Feriado {% endblock %}
{% block body -%}
<script type="text/javascript">
		$(document).ready(function(){
			document.getElementById("cresta_aulasbundle_alerta_fecha_time").style.display='none';
		})
</script>
    <h1>Editar Feriado</h1>
    <div class="formAutogenerado">
    	<div id="EditarAlerta">
    		{{ form(edit_form) }}
    	</div>
	</div>
{% endblock %}