{% extends '::base.html.twig' %}
{% block title %}Editar Alerta {% endblock %}
{% block body -%}
    <h1>Editar Alerta</h1>
    <div class="formAutogenerado">
    	<div id="EditarAlerta">
    		{{ form(edit_form) }}
    	</div>
    	</p>
	</div>
{% endblock %}
