{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nueva Alerta</h1>
    <div class='formAutogenerado'>
    	<div id='NuevaAlerta'>
    		{{ form(form) }}
    	</div>
    </div>

{% endblock %}
