{% extends '::base.html.twig' %}
{% block title %}Nuevo Feriado {% endblock %}
{% block body -%}
<script type="text/javascript">
		$(document).ready(function(){
			document.getElementById("cresta_aulasbundle_alerta_fecha_time").style.display='none';
		})
</script>
    <h1>Nuevo Feriado</h1>
    <div class='formAutogenerado'>
    	<div id='NuevaAlerta'>
    		{{ form(form) }}
    	</div>
    </div>

{% endblock %}