{% extends '::base.html.twig' %}
{% block title %}Nuevo Feriado {% endblock %}
{% block body -%}
    <h1>Nuevo Feriado</h1>
    <div class='formAutogenerado'>
    	<div id='NuevaAlerta'>
    		{{ form(form) }}
    	</div>
    </div>

{% endblock %}