{% extends '::base.html.twig' %}
{% block title %}Nuevo curso {% endblock %}
{% block body -%}
<script type="text/javascript">
$(document).ready(function(){
	$('select.chzn-select').chosen();

	}
		)
</script>
    <h1>Nuevo Curso</h1>
    <div class="formAutogenerado">
	    <div id="NuevoCurso">
	    	{{ form(form) }}	
	    </div>


			{# 
				Agregué el boton en el formulario creado en CursoController!

				        <a class="btn btn-default botonTabla" href="{{ path('aulas_curso') }}">
			            Volver a la lista
			        	</a>
			#}  
			
    </div>
{% endblock %}
