{% extends '::base.html.twig' %}
{% block title %}Ver Reserva {% endblock %}
{% block body -%}
    <h1>Reservas</h1>

    <table class="record_properties tabla">
        <tbody>
            <tr>
                <th>Fecha</th>
                {% if array is null %}
                    NO ANDA FLAQUITO
                {% else %}
                    {% for arrayreserva in array %}
                        {% for reserva in arrayreserva%}
                        <tr>
                            <td>{{ reserva.entidad.aula.nombre }}</td>
                            <td>{{ reserva.motivo }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <a class="btn btn-default botonTabla" href="{{ path('reserva') }}">
                Volver a la lista
            </a>
        </ul>
{% endblock %}
