{% extends '::base.html.twig' %}
{% block title %}Editar carrera {% endblock %}
{% block body -%}
	<div class='formAutogenerado'>
		<div id='EditarCurso'>
    		<h1>Editar Carrera</h1>

    		{{ form(edit_form) }}

        </div>
    </div>

{% endblock %}
