{% extends '::base.html.twig' %}
{% block title %}Nueva carrera {% endblock %}
{% block body -%}
    <h1>Nueva Carrera</h1>
    <div class="formAutogenerado">
	    <div id="NuevaCarrera">
	    	{{ form(form) }}	
	    </div>
    </div>
{% endblock %}