{% extends '::base.html.twig' %}
{% block title %}Ver Carrera {% endblock %}
{% block body -%}
    <h1>Carrera</h1>

    <table class="record_properties tabla verItem">
        <tbody>            
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                {% if entity.observaciones is null %}
                    <td>N/A</td>
                {% else %}
                    <td>{{ entity.observaciones }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

        <ul class="record_actions tablaAcciones">
                    <a class="btn btn-default botonTabla" href="{{ path('aulas_carrera_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                    
                    <a class="btn btn-default botonTabla" href="{{ path('aulas_carrera') }}">
                        Volver a la lista
                    </a>
        </ul>
{% endblock %}
